* {
    margin: 0;
    box-sizing: border-box;
}

#site-wrapper {
    width: 80vw;
    margin: 0 auto;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

/* Begin vertical navbar styling */
nav {
    width: 30%;
    padding: 2%;
    background-color: #27272c;
}

nav ul {
    list-style: none;
    font-size: calc(3px + 1.5vw);
    padding-left: 0;
}

nav li {
    margin: 10% auto;
    width: 80%;
    padding: 1%;
    text-align: center;
    background-color: #00ADB5;
    border-radius: 20px;
}

nav a {
    text-decoration: none;
    color: #27272c;
}

nav a:hover {
    color: #EEEEEE;
}

nav li:hover {
    background-color: #107273;
}
/* End vertical navbar styling */

/* Begin header styling */
header {
    display: flex;
    flex-direction: column;
    padding: 1.5vh 1.5vw;
    background-color: #393E46;
    color: #EEEEEE;
}

header h1 {
    margin-bottom: 1vh;
}
/* End header styling */

/* Begin main styling */
main {
    width: 70%;
    height: 100vh;
    min-height: fit-content;
    background-color: #222831;
    color: #EEEEEE;
}

main h2 {
    text-align: center;
    font-size: calc(2px + 2vw);
    margin: 2% 0;
}

main p {
    font-size: calc(2px + 1vw);
    margin: 3vh 1.5vw;
}

main ul {
    list-style: none;
    width: 90%;
    margin: 0 auto;
}

.bullet {
    margin: 1.5vh auto;
    border-left: 3px solid #00ADB5;
}
/* End main styling */

/* Begin main content two column format styling */
#container {
    display: flex;
    flex-direction: row;
}

.project {
    margin: 5vh auto;
}

.project-link {
    font-size: calc(2px + 1.25vw);
    text-decoration: underline;
    color: #00ADB5;
}

.project-link:hover {
    color: #107273;
}
/* End main content styling */

/* Begin calculator styling */
#calculator-container {
    background-color: #00ADB5;
    width: 80%;
    height: fit-content;
    margin: 3vh auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: #222831;
    border: 3px solid goldenrod;
    font-family: 'Nimbus Mono PS', 'Courier New', monospace;
}

#calculator-container h3 {
    font-size: calc(2px + 2vw);
    margin: 3% auto;
}


#inputs {
    width: 50%;
    height: 8vw;
    display: flex;
    justify-content: center;
    margin: 2% auto;
}

#inputs input {
    width: 8vw;
    height: 100%;
    padding: 1%;
    text-align: center;
    margin: auto;
}

#button-container {
    width: 80%;
    height: 4vw;
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
}

button {
    width: 4vw;
    height: 100%;
    border-radius: 50%;
    min-width: fit-content;
    margin: 0 auto;
}

#output-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 3%;
    min-width: 30%;
    height: 8vw;
    margin: 3% auto;
}

button, #inputs input, #output-container {
    background-color: #27272c;
    border: 3px solid goldenrod;
    color: goldenrod;
    font-size: calc(2px + 1.75vw);
    font-family: 'Nimbus Mono PS', 'Courier New', monospace;
}

#inputs label {
    display: none;
}

#clear {
    width: 8vw;
    height: 100%;
    background-color: darkred;
    color: gold;
}
/* End calculator styling */

/* Footer styling */
footer {
    text-align: center;
    padding: 2%;
    background-color: #393E46;
    color: #EEEEEE;
    font-size: calc(1px + 1.25vw);
}

footer a {
    color: #04f5ff;
}

footer a:hover {
    color: #107273;
}
/* End footer styling */

/* Responsive layout for smaller screens */
@media screen and (max-width: 900px) {
    header {
        align-items: center;
    }

    nav {
        width: 100%;
        padding: 0;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        font-size: calc(3px + 2vw);
    }

    nav li {
        border-radius: 0;
        margin: 0;
    }

    #container {
        flex-direction: column;
    }

    main {
        width: 100%;
        height: fit-content;
        min-height: 82vh;
    }

    main h2 {
        font-size: calc(3px + 3vw);
    }

    main p {
        font-size: calc(4px + 2vw);
    }

    .project-link {
        font-size: calc(4px + 2.25vw);
    }

    footer {
        font-size: calc(1px + 2.25vw);
    }

    /* Smaller calculator with buttons in column layout */
    #button-container {
        width: 16vw;
        height: fit-content;
        flex-wrap: wrap;
    }

    button {
        width: 6vw;
        height: 6vw;
        margin: 0.5vw auto;
        padding: 5%;
        border-width: 2px;
    }

    #clear {
        width: 10vw;
    }

    #calculator-container h3 {
        font-size: calc(2px + 3.25vw);
    }

    button, #inputs input, #output-container {
        font-size: calc(1px + 3vw);
    }

    #inputs input {
        width: 45%;
    }
}