* {
    margin: 0;
    box-sizing: border-box;
}

#site-wrapper {
    width: 80vw;
    margin: 0 auto;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

/* Begin vertical navbar styling */
nav {
    width: 30%;
    padding: 2%;
    background-color: #27272c;
}

nav ul {
    list-style: none;
    font-size: calc(3px + 1.5vw);
    padding-left: 0;
}

nav li {
    margin: 10% auto;
    width: 80%;
    padding: 1%;
    text-align: center;
    background-color: #00ADB5;
    border-radius: 20px;
}

nav a {
    text-decoration: none;
    color: #27272c;
}

nav a:hover {
    color: #EEEEEE;
}

 nav li:hover {
     background-color: #107273;
 }
/* End vertical navbar styling */

/* Begin header styling */
header {
    display: flex;
    flex-direction: column;
    padding: 1.5vh 1.5vw;
    background-color: #393E46;
    color: #EEEEEE;
}

header h1 {
    margin-bottom: 1vh;
}
/* End header styling */

/* Begin main styling */
main {
    width: 70%;
    height: 100vh;
    background-color: #222831;
    color: #EEEEEE;
}

main h2 {
    text-align: center;
    font-size: calc(2px + 2vw);
    margin: 2% 0;
}

main p {
    font-size: calc(2px + 1.5vw);
    margin: 3vh 3vw;
}

main a, footer a {
    color: #04f5ff;
}

main a:hover, footer a:hover {
    color: #107273;
}
/* End main styling */

/* Begin main content two column format styling */
#two-column {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 3vh 1vw;
}

#container {
    display: flex;
    flex-direction: row;
}

#about {
    width: 65%;
    margin: 0 3%
}

#image-container {
    width: 35%;
    margin: 0 3%;
}

img {
    max-width: 100%;
}
/* End main content styling */

/* Footer styling */
footer {
    text-align: center;
    padding: 2%;
    background-color: #393E46;
    color: #EEEEEE;
    font-size: calc(1px + 1.25vw);
}

/* Responsive layout for smaller screens */
@media screen and (max-width: 750px) {
    header {
        align-items: center;
    }

    nav {
        width: 100%;
        padding: 0;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        font-size: calc(3px + 2vw);
    }

    nav li {
        border-radius: 0;
        margin: 0;
    }

    #container {
        flex-direction: column;
    }

    main {
        width: 100%;
    }

    main h2 {
        font-size: calc(2px + 3vw);
    }

    main p {
        font-size: calc(2px + 2vw);
    }

    #two-column {
        flex-direction: column;
        align-items: center;
    }

    #image-container {
        margin-bottom: 5%;
    }

    #sub-text {
        text-align: center;
    }

    footer {
        font-size: calc(1px + 2.25vw);
    }
}
