* {
    margin: 0;
    box-sizing: border-box;
}

#site-wrapper {
    width: 80vw;
    margin: 0 auto;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

/* Begin vertical navbar styling */
nav {
    width: 30%;
    padding: 2%;
    background-color: #27272c;
}

nav ul {
    list-style: none;
    font-size: calc(3px + 1.5vw);
    padding-left: 0;
}

nav li {
    margin: 10% auto;
    width: 80%;
    padding: 1%;
    text-align: center;
    background-color: #00ADB5;
    border-radius: 20px;
}

nav a {
    text-decoration: none;
    color: #27272c;
}

nav a:hover {
    color: #EEEEEE;
}

nav li:hover {
    background-color: #107273;
}
/* End vertical navbar styling */

/* Begin header styling */
header {
    display: flex;
    flex-direction: column;
    padding: 1.5vh 1.5vw;
    background-color: #393E46;
    color: #EEEEEE;
}

header h1 {
    margin-bottom: 1vh;
}
/* End header styling */

/* Begin main styling */
main {
    width: 70%;
    height: 100vh;
    min-height: fit-content;
    background-color: #222831;
    color: #EEEEEE;
}

main h2 {
    text-align: center;
    font-size: calc(2px + 2vw);
    margin: 2% 0;
}

main p {
    font-size: calc(2px + 1.25vw);
    margin: 1vh 1.5vw;
}

main ul {
    list-style: none;
    width: 90%;
    margin: 0 auto;
}

.bullet {
    margin: 1.5vh 0;
    border-left: 3px solid #00ADB5;
}

.bullet p {
    font-size: calc(2px + 1vw);
}

.experience {
    margin: 5vh auto 8vh;
}
/* End main styling */

/* Begin main content two column format styling */
#container {
    display: flex;
    flex-direction: row;
}
/* End main content styling */

/* Footer styling */
footer {
    text-align: center;
    padding: 2%;
    background-color: #393E46;
    color: #EEEEEE;
    font-size: calc(1px + 1.25vw);
}

footer a {
    color: #04f5ff;
}

footer a:hover {
    color: #107273;
}
/* End footer styling */

/* Responsive layout for smaller screens */
@media screen and (max-width: 900px) {
    header {
        align-items: center;
    }

    nav {
        width: 100%;
        padding: 0;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        font-size: calc(3px + 2vw);
    }

    nav li {
        border-radius: 0;
        margin: 0;
    }

    #container {
        flex-direction: column;
    }

    main {
        width: 100%;
        height: fit-content;
        min-height: 82vh;
    }

    main h2 {
        font-size: calc(2px + 3vw);
    }

    main p {
        font-size: calc(2px + 2.25vw);
    }

    .bullet p {
        font-size: calc(2px + 2vw);
    }

    footer {
        font-size: calc(1px + 2.25vw);
    }
}